@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: dark;
}

input[type="date"]::-webkit-calendar-picker-indicator {
  cursor: pointer;
  filter: invert(1);
}

input[type="range"] {
  @apply h-2 bg-gray-700 rounded-lg appearance-none cursor-pointer;
}

input[type="range"]::-webkit-slider-thumb {
  @apply appearance-none w-4 h-4 bg-indigo-600 rounded-full cursor-pointer;
}

select option {
  @apply bg-gray-700;
}